
<!-- Dropzone Partial -->
<form id="addImageForm" class="dropzone" action="addimage" method="post" enctype="multipart/form-data">
	<div class="fallback">Add Images: <input name="file" type="file" /></div>
	<input type="hidden" name="commitId" value="{{commitId}}" />
</form>

<script src="/lib/dropzone.js"></script>
<link href="/lib/dropzone.css" rel="stylesheet">
<script>
	Dropzone.autoDiscover = false;
	readyScripts.push(function() {

		let dropErrors = false; // did dropzone errors occur?
		$("#addImageForm").dropzone({
			'dictDefaultMessage': "Drop images here to add to the page", 
			'parallelUploads': 1,
			'uploadMultiple': false,
			'paramName': 'file', 
			'init': function() {
				this.on("addedfile", (file) => {
					console.log("Dropzone file added: " + file.name);
					if (window.liveJs) { window.liveJs.setPaused(true); }
				});
				this.on("error", (file, error) => {
					console.log("Dropzone error on " + file.name + ": " + error);
					dropErrors = true;
				});
				this.on("queuecomplete", () => { 
					console.log("Dropzone queue complete. Errors? " + dropErrors);
					if (!dropErrors) {
						location.reload(); 
						if (window.liveJs) { window.liveJs.setPaused(false); }
					}
				});
				this.on("reset", () => {
					console.log("Dropzone reset");
					dropErrors = false;
				});
			}
		});
	});
</script>