<h4>Commit: {{commitId}}</h4>


A page does not exist for this commit.

{{#if isHead}}
Head is Detached? {{#if isDetached}}TRUE{{else}}FALSE{{/if}}
	{{#if isClean}}
	{{else}}
		<div>Warning: Your working directory is not clean. If you create a page it will be for the current HEAD commit, not your current working directory.</div>
	{{/if}}
	<script type="text/javascript" src="/lib/live.js"></script>
{{/if}}

<div>
	<form method="post" action="/pages/create">
	<input type="hidden" name="commitRef" value="{{commitId}}" />
	<button type="submit">Create a New Page</button>
	<form>
</div>