<h4>Gallery Pages</h4>

{{#each pages}}
	<a href="{{commitId}}\">
		<div class="galleryItem">
			<div class="giTitle">{{title}}</div>
			<div class="giDate">{{dateTime date}}</div>
		</div>
	</a>
{{/each}}
