body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

$primary-color: #333;

p {
	color: $primary-color;
}

.galleryItem {
	background-color: rgb(240, 240, 240);
	padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pageDesc {
    display: inline-block;
    vertical-align: top;
}

.giMessage {}

.giDate {
  color: grey;
}

.galleryThumb {
}

#commitBox,#pageNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
}