@import 'https://fonts.googleapis.com/css?family=PT+Sans|Philosopher';

body {
//  padding: 50px;
//  margin-top: 0;
//  padding-top: 0;
//  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Philosopher', sans-serif;
}

a {
  color: #00B7FF;
}

$primary-color: #333;
$date-color: grey;

$repo-heading-color: #bbb; // #ddd;
$repo-text-color: #bbb;

.repoContent {
  padding: 0.5em;
  background-color: #444;
  color: $repo-text-color;
  h1, h2, h3, h4, h5, h6 {
    color: $repo-heading-color;
    margin-bottom: 0;
  }

  a {
    color: $repo-text-color;
    &:hover {
      color: rgb(157,195,230);
      text-decoration: none;
    }
  }
}

.pageContent {
  margin-top: 2em;

  a {
    color: $primary-color;
    &:hover {
      color: auto;
      text-decoration: none;
    }
  }
}

#publishCtrls {
  display: inline-block;
}
.publishChk {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 5px !important;
  transform: scale(2);
}

p {
  color: $primary-color;
}

.galleryPageLink {
  text-decoration: none;
}

.galleryItem {
	background-color: #ccc; // rgb(240, 240, 240);
	padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 220px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.pageDesc {
    display: block; // inline-block;
    vertical-align: top;
}

.giTitle {
  color: $primary-color;
}

.giMessage {}

.giDate {
  color: $date-color;
}

.galleryThumb {
}



#commitBox,#pageNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
}